

  <table class="table table-condensed">
    <tbody>
      {{#each lastFive}}
        <tr>
          {{!-- <td class="tooltip" data-title="{{truncate description 200}}"></td> --}}
          <td class="tooltip" data-title="{{truncate description 200}}"><a class="ticket-links" href="https://{{subdomain}}.zendesk.com/api/v2/channels/voice/agents/{{agent_id}}/tickets/{{id}}/display.json">{{subject}}</a></td>

          <td class='status-cell'>
            <b class="status">
              {{t "global.status"}}
            </b>
            {{t status}}
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
